{{- $file := . -}}
{{- $lazy_file_src := ( ( $file.Fit "360x535 Center q20" ).Filter ( images.GaussianBlur 30 ) ).RelPermalink -}}
{{- $file_src := ( $file.Fit "360x535 Center q100" ).RelPermalink -}}

<div class="card">
  <a href="{{- $file.RelPermalink -}}" class="" data-copyright="{{- with $file.Params.copyright -}}{{- . | markdownify -}}{{- end -}}">
    <img src="{{- $lazy_file_src -}}"
         data-src="{{- $file_src -}}"
         alt="{{- $file.Title -}}"
         title="Image showing {{ $file.Title -}}"
         data-toggle="tooltip"
         data-placement="left"
         class="card-img-top lazy"/>
  </a>
  <div class="card-body">
    {{- with $file.Title -}}
      <h4 class="card-title">
        {{- . | replaceRE "^gallery/([^/]+).*" "$1" | markdownify -}}
      </h4>
    {{- end -}}
    {{- with $file.Params.description | plainify | emojify -}}
      <p class="card-text text-muted small">{{- . | markdownify -}}</p>
    {{- end -}}
  </div>
  {{- with $file.Params.copyright -}}
    <div class="card-footer">
      <p class="card-text small text-muted">
        &copy;&nbsp;{{- . | markdownify -}}
      </p>
    </div>
  {{- end -}}
</div>
