{{- $pages := . -}}

{{- with $pages -}}
  <div class="row list">
      {{- range $page := $pages -}}
        <div class="col-sm-6 col-md-4">
            {{- $page.Render "card" -}}
        </div>
      {{- end -}}
  </div>
{{- end -}}
