{{- $pages := . -}}

{{- with $pages -}}
    {{- $page := index $pages 0 -}}
    {{- $section := $page.Section -}}

    {{- $params := slice -}}
    {{- range $k, $v := (partial "function/frontmatter-params.html" $page) -}}
        {{- $params = append $params (slice (printf "%s-%s" $section $v)) -}}
    {{- end -}}

    <div id="{{ $section }}-lists"
         data-list='{ "valueNames": [ "{{- delimit $params "\", \"" -}}" ], "page": 12, "pagination": true}'>
      <div class="row mb-4">
        <div class="col">
          <form>
            <div class="input-group input-group-lg input-group-merge">
              <input type="text" class="form-control form-control-prepended list-search" placeholder="Search&hellip;">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <span class="fe fe-search"></span>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{- partial "cards/without-search.html" $pages -}}
      <ul class="pagination"></ul>
    </div>
{{- end -}}
