{{- $bib := .Params.bib -}}

{{- with $bib.issn -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        ISSN
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- . -}}
      </span>
    </div>
  </div>
</div>
{{- end -}}
{{- with $bib.isbn -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        ISBN
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- . -}}
      </span>
    </div>
  </div>
</div>
{{- end -}}
{{- with $bib.doi -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        DOI
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- . -}}
      </span>
    </div>
  </div>
</div>
{{- end -}}
{{- with $bib.urn -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        URN
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- . -}}
      </span>
    </div>
  </div>
</div>
{{- end -}}
