{{- $bib := .Params.bib -}}

{{- with $bib.journaltitle -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Journal
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- . -}}
      </span>
    </div>
  </div>
</div>
{{- end -}}
{{- with $bib.volume -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Volume
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- . -}}
      </span>
    </div>
  </div>
</div>
{{- end -}}
{{- with $bib.issue -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Issue
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- . -}}
      </span>
    </div>
  </div>
</div>
{{- end -}}
