{{- $bib := .Params.bib -}}
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Type
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{ index $.Site.Data.biblatex.report.title $bib.subentry | default $bib.subentry }}
      </span>
    </div>
  </div>
</div>
<div class="list-group-item">
  <div class="row align-items-center">
    <div class="col">
      <h5 class="mb-0 text-muted">
        Date
      </h5>
    </div>
    <div class="col-auto">
      <span class="small">
        {{- with $bib.year -}}
          {{- . -}}
        {{- end -}}
      </span>
    </div>
  </div>
</div>
