{{- $article := . -}}
<div class="card">
  <a href="{{- $article.RelPermalink -}}" class="hide stretched-link"></a>
  <div class="card-body text-center">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-10">
        {{- $article.Render "card-cover" -}}
        <h3 class="card-title mb-3">
          {{- $article.Title -}}
        </h3>
        <p class="card-text text-muted">
          {{- $article.Description | plainify | emojify -}}
        </p>
        <p class="card-text text-muted small mb-1">
          {{- $article.PublishDate.Format "January 2, 2006" -}}&nbsp;&bullet;&nbsp;{{- i18n "readingTime" $article.ReadingTime -}}
        </p>
        <p class="card-text mb-4">
          {{- if $article.GetTerms "categories" -}}
            {{- range $category := $article.GetTerms "categories" -}}
              <span class="badge badge-soft-secondary">
                {{- $category.Title -}}
              </span>
            {{- end -}}
          {{- end -}}
        </p>
        <div class="row">
          <div class="col-12 col-md-8 text-left align-self-center">
            {{- partial "avatar-group.html" ( partial "query/researcher.html" . ) -}}
          </div>
          <div class="col md-auto text-right align-self-center">
            <a href="{{- $article.RelPermalink -}}" class="btn btn-outline-primary btn-sm">
              Read more&hellip;
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
