{{- define "header-body" -}}
<div class="header">
  <div class="header-body">
    <h6 class="header-pretitle">
    </h6>
    <h1 class="header-title">
      {{- .Title -}}
    </h1>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="mb-3">
  {{- .Content -}}
</div>

{{ if .Pages }}

<div class="row">
  <div class="col-lg-4 order-lg-8">
    {{- range $term, $taxonomy := .Site.Taxonomies -}}
      {{- if $taxonomy -}}
        {{- with $term := $.Site.GetPage (printf "/%s" $term) -}}
          <div class="card">
            <div class="card-header">
              <h3 class="card-header-title">
                {{- $term.Title -}}
              </h3>
            </div>
            <div class="card-body">
              {{- range $value, $pages := $taxonomy -}}
                {{- with $value := $.Site.GetPage (printf "%s%s" $term.RelPermalink $value) -}}
                  <span class="badge badge-soft-secondary">
                    <a href="{{- $value.Permalink -}}">{{- $value.LinkTitle -}}</a>
                  </span>
                {{- end -}}
              {{- end -}}
            </div>
          </div>
        {{- end -}}
      {{- end -}}
    {{- end -}}
  </div>
  <div class="col-lg-8 order-lg-0">
    <div class="row">
      <div class="col-12 text-right">
        {{- partial "pagination.html" . -}}
      </div>
    </div>

    {{- partial "cards/with-search.html" .Paginator.Pages -}}

    <div class="row">
      <div class="col-12 text-right">
        {{- partial "pagination.html" . -}}
      </div>
    </div>
  </div>
</div>

{{- else -}}

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    {{- partial "bootstrap/feature-to-come.html" -}}
  </div>
</div>

{{- end -}}

{{- end -}}
