{{- $page := . -}}

<div class="card card-fill">
  <a href="{{- $page.RelPermalink -}}" class="hide stretched-link"></a>
    {{- $page.Render "card-cover" -}}
  <div class="card-body text-center">
      {{- $page.Render "card-avatar" -}}
    <h2 class="card-title mb-3 project-title">
      <a href="{{- $page.RelPermalink -}}">{{- $page.Title -}}</a>
    </h2>
    <h5 class="card-subtitle text-muted mb-3 project-subtitle">
        {{- with $page.Params.subtitle -}}
            {{- . -}}
        {{- end -}}
    </h5>
    <p class="mb-3 project-description">
        {{- $page.Description | plainify | emojify -}}
    </p>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
          {{- with .Params.funding -}}
            <span class="project-funding">
              {{ . | markdownify }}
            </span>
          {{- end -}}
      </div>
      <div class="col-auto">
        <a href="{{- $page.RelPermalink -}}" class="btn btn-sm btn-primary">
          View
        </a>
      </div>
    </div>
  </div>
</div>
