{{- define "header-body" -}}
    {{- $avatar := .Resources.GetMatch "avatar" -}}
    {{- $cover := .Resources.GetMatch "cover" -}}
    <div class="header-body {{- if and $avatar $cover }} mt-n5 mt-md-n6{{- end -}}">
      <div class="row align-items-end">
          {{- if $avatar -}}
            <div class="col-auto">
                {{- .Render "page-header-avatar-top" -}}
            </div>
          {{- end -}}
        <div class="col mb-3 {{- if $avatar }} ml-n3 ml-md-n2{{- end -}}">
          <h6 class="header-pretitle">
              {{ .Parent.Title }}
          </h6>
          <h1 class="header-title">
              {{- .Title -}}
          </h1>
        </div>
        <div class="col-12 col-md-auto mt-3 mt-md-0">
            {{- partial "avatar-group.html" (partial "query/researcher.html" .) -}}
        </div>
      </div>

      <div class="row align-items-center">
        <div class="col">
          <ul class="nav nav-tabs nav-overflow header-tabs" id="projectTabs">
            <li class="nav-item">
              <a href="#overview" class="nav-link active" data-toggle="tab" role="tab" aria-controls="overview"
                 aria-selected="true">
                Overview
              </a>
            </li>
            <li class="nav-item">
              <a href="#publications" class="nav-link" data-toggle="tab" role="tab" aria-controls="publications"
                 aria-selected="false">
                Publications
              </a>
            </li>
            <li class="nav-item">
              <a href="#gallery" class="nav-link" data-toggle="tab" role="tab" aria-controls="gallery"
                 aria-selected="false">
                Gallery
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
{{- end -}}

{{- define "main" -}}

  <div class="row">
    <div class="col-lg-4 order-lg-8">
      <div class="sticky-top">
        <div class="card">
          <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                {{- with .Params.start_date -}}
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0 text-muted">
                          Start Date
                        </h5>
                      </div>
                      <div class="col-auto">
                              <span class="small">
                                    {{- dateFormat "Jan 2, 2006" . -}}
                              </span>
                      </div>
                    </div>
                  </div>
                {{- end -}}
                {{- with .Params.end_date -}}
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0 text-muted">
                          End Date
                        </h5>
                      </div>
                      <div class="col-auto">
                              <span class="small">
                                    {{- dateFormat "Jan 2, 2006" . -}}
                              </span>
                      </div>
                    </div>
                  </div>
                {{- end -}}
                {{- with .Params.website -}}
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0 text-muted">
                          Website
                        </h5>
                      </div>
                      <div class="col-auto">
                        <a href="{{- . -}}" class="small">
                            {{- . | replaceRE "^https?://([^/]+).*" "$1" -}}
                        </a>
                      </div>
                    </div>
                  </div>
                {{- end -}}
                {{- with .Params.funding -}}
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0 text-muted">
                          Funding
                        </h5>
                      </div>
                      <div class="col-auto">
                        <span class="small">
                          {{- . | markdownify -}}
                        </span>
                      </div>
                    </div>
                  </div>
                {{- end -}}
                {{- with .Params.budget -}}
                  <div class="list-group-item">
                    <div class="row align-items-center">
                      <div class="col">
                        <h5 class="mb-0 text-muted">
                          Budget
                        </h5>
                      </div>
                      <div class="col-auto">
                        <span class="small">
                          {{- . | markdownify -}}
                        </span>
                      </div>
                    </div>
                  </div>
                {{- end -}}
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <h4 class="card-header-title">
              Robots
            </h4>
          </div>
          <div class="card-body">
            <div class="list-group list-group-flush my-n3">
                {{- with $robots := partial "query/robot.html" . -}}
                    {{- range $robot := $robots -}}
                        {{- $robot.Render "list-group-item" -}}
                    {{- end -}}
                {{- else -}}
                  <div class="list-group-item">This project has no robots assigned</div>
                {{- end -}}
            </div>
          </div>
        </div>
          {{- with $consortium := .Params.consortium -}}
            <div class="card">
              <div class="card-header">
                <h4 class="card-header-title">
                  Project Consortium
                </h4>
              </div>
              <div class="card-body">
                <div class="list-group list-group-flush my-n3">
                    {{- range $partner := $consortium -}}
                        {{- with $organization := $.Site.GetPage (printf "organization/%s" ($partner | urlize)) -}}
                            {{- $organization.Render "list-group-item" -}}
                        {{- else -}}
                          <div class="list-group-item">
                            <div class="row align-items-center">
                              <div class="col">
                                <h4 class="mb-1">
                                    {{- $partner | markdownify -}}
                                </h4>
                              </div>
                            </div>
                          </div>

                        {{- end -}}
                    {{- end -}}
                </div>
              </div>
            </div>
          {{- end -}}
      </div>
    </div>
    <div class="col-lg-8 order-lg-0">
      <div class="tab-content" id="projectTabsContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            {{- .Content -}}
        </div>
        <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications">
            {{- partial "bootstrap/feature-to-come.html" -}}
        </div>
        <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery">
            {{- $gallery := .Resources.Match "gallery/**" -}}
            {{- if $gallery -}}
                {{- partial "gallery/cards.html" $gallery -}}
            {{- else -}}
                {{- partial "bootstrap/not-found-card.html" "gallery" -}}
            {{- end -}}
        </div>
      </div>
    </div>
  </div>

{{- end -}}
