{{- range $section := .Params.sections -}}

<div class="row">
  <div class="col-12">
    {{ with $page := $.Site.GetPage ( printf "/%s" $section ) -}}
      {{- with $items := where $.Site.RegularPages.ByPublishDate.Reverse "Type" $section | first 3 -}}
        {{- partial "index/section.html" (dict "page" $page "section" $section "items" $items ) -}}
      {{- end -}}
    {{- end -}}
  </div>
</div>

{{- end -}}
