{{- $page := . -}}
{{- $avatar := .Resources.GetMatch "avatar" -}}

<div class="avatar avatar-4by3">
  <a href="{{- $page.RelPermalink -}}">
    <img src="{{- partial "image-avatar-lazy.html" $avatar -}}"
         data-src="{{- partial "image-avatar-full.html" $avatar }}"
         alt="Image showing {{ $page.Title -}}"
         title="{{ $page.Title -}}"
         data-toggle="tooltip"
         data-placement="left"
         class="avatar-img rounded lazy">
  </a>
</div>
