{{- define "header-body" -}}
<div class="header">
  <div class="header-body">
    <h6 class="header-pretitle">
      {{- with .Params.pre_title -}}{{ . }}{{- end -}}
    </h6>
    <h1 class="header-title">
      {{- .Title -}}
    </h1>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="mb-3">
  {{- .Content -}}
</div>

{{- if .Pages -}}
<div class="row">
  <div class="col-12 text-right">
    {{- partial "pagination.html" . -}}
  </div>
</div>

<div class="row">
  {{- range $page := .Paginator.Pages -}}
  <div class="col-sm-6 col-md-4">
    <div class="card card-fill">
      <a href="{{- .RelPermalink -}}" class="hide stretched-link"></a>
      <div class="card-header">
        <h3 class="card-header-title">{{- .Title -}}</h3>
      </div>
      <div class="card-body">
        {{- with .Params.long_title -}}
          <h5 class="card-subtitle">{{- . -}}</h5>
        {{- end -}}
        {{- with .Description -}}
        <h4 class="card-title">{{- . -}}</h4>
        {{- end -}}
        {{- with .Summary -}}
        <p class="card-text">{{- . -}}</p>
        {{- end -}}
      </div>
      <div class="card-body text-lg-right">
        <a href="{{- .RelPermalink -}}" class="btn btn-light btn-sm">Read more&hellip;</a>
      </div>
    </div>
  </div>
  {{- end -}}
</div>

<div class="row">
  <div class="col-12 text-right">
    {{- partial "pagination.html" . -}}
  </div>
</div>

{{- else -}}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    {{- partial "bootstrap/not-found-card.html" .Title -}}
  </div>
</div>
{{- end -}}

{{- end -}}
