{{- define "header-body" -}}
<div class="header">
  <div class="header-body">
    <h6 class="header-pretitle">
      {{ .Parent.Title }}
    </h6>
    <h1 class="header-title">
      {{- .Title -}}
    </h1>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="mb-3">
  {{- .Content -}}
</div>

{{- end -}}
