{{- $publication := . -}}
<div class="card mb-3">
  <div class="card-body">
    <a href="{{- $publication.RelPermalink -}}" class="hide stretched-link"></a>
    <h4 class="publication-title">
      <a href="{{- $publication.RelPermalink -}}">{{- $publication.Title -}}</a>
    </h4>
    <div class="d-none">
      <div class="publication-keywords">{{- delimit $publication.Keywords "," }}</div>
    </div>
  </div>
  <div class="card-footer">
    <div class="row">
      <div class="col">
        <p class="small text-muted mb-1">
          <span class="publication-author">{{- $publication.Params.bib.author -}}</span>
          <span class="publication-year">({{- $publication.Date.Format "2006" -}})</span>
        </p>
      </div>
      <div class="col-auto">
        <a href="{{- $publication.RelPermalink -}}" class="btn btn-sm btn-primary d-none d-md-inline-block stretched-link">
          View
        </a>
      </div>
    </div>
  </div>
</div>
