{{- $publications := . -}}
<div id="publications-list" data-list='{ "indexAsync": true, "valueNames": [ "publication-title", "publication-keywords", "publication-type", "publication-abstract", "publication-author", "publication-year" ], "page": 12, "pagination": true }'>
  <div class="row mb-4">
    <div class="col">
      <form>
        <div class="input-group input-group-lg input-group-merge">
          <input type="text" class="form-control form-control-prepended list-search" placeholder="Search&hellip;">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <span class="fe fe-search"></span>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row list">
    {{- range $publication := $publications -}}
    <div class="col-12">
      {{- partial "publication/card-compact.html" $publication -}}
    </div>
    {{- end -}}
  </div>
  <ul class="pagination"></ul>
</div>
