{{- $researcher := . -}}
{{- $cover := .Resources.GetMatch "cover" -}}
{{- $avatar := .Resources.GetMatch "avatar" -}}

<div class="card card-fill">
  <a href="{{- $researcher.RelPermalink -}}" class="hide stretched-link"></a>
    {{- $researcher.Render "card-cover" -}}
  <div class="card-body text-center">
      {{- $researcher.Render "card-avatar" -}}
    <h2 class="card-title mb-3 researcher-title">
      <a href="{{- $researcher.RelPermalink -}}">{{- $researcher.Title -}}</a>
    </h2>
    <h5 class="card-subtitle text-muted mb-3 researcher-organization">
        {{- with $organizations := partial "query/organization.html" $researcher -}}
            {{- $num_organizations := len $organizations -}}
            {{- range $organization := first 1 $organizations -}}
                {{- $organization.Title -}}
                {{- with $organization.Params.short_title -}}
                &nbsp;{{ . }}
                {{- end -}}
                {{- with $organization.Params.institution -}}
                  , {{ . }}
                {{ end }}
            {{- end -}}
            {{- if gt $num_organizations 1 }}
              et al.
            {{- end -}}
        {{- end -}}
    </h5>
    <p class="mb-3 researcher-description">
        {{- $researcher.Description | plainify | emojify -}}
    </p>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row align-items-center justify-content-between">
      <div class="col-auto">
          {{- with .Params.location -}}
            <span class="small text-muted researcher-location">
          <i class="fe fe-map-pin"></i>&nbsp;{{- . -}}
        </span>
          {{- end -}}
      </div>
      <div class="col-auto">
        <a href="{{- $researcher.RelPermalink -}}" class="btn btn-sm btn-primary">
          View
        </a>
      </div>
    </div>
  </div>
</div>
