{{- $researcher := . -}}
<div class="list-group-item">
  <a href="{{- $researcher.RelPermalink -}}" class="hide stretched-link"></a>
  <div class="row align-items-center">
    {{- $avatar := .Resources.GetMatch "avatar" -}}
    {{- if $avatar -}}
    <div class="col-auto">
      <div class="avatar avatar-4by3">
        <a href="{{- $researcher.RelPermalink -}}">
          <img src="{{- partial "image-avatar-lazy.html" $avatar -}}"
          data-src="{{- partial "image-avatar-full.html" $avatar }}"
          alt="{{ .Title -}}"
          title="Image showing {{ .Title -}}"
          data-toggle="tooltip"
          data-placement="left"
          class="avatar-img rounded lazy">
        </a>
      </div>
    </div>
    {{- end -}}
    <div class="col {{- if $avatar }} ml-n2{{- end -}}">
      <h4 class="mb-1">
        <a href="{{- $researcher.RelPermalink -}}">{{- $researcher.Title -}}</a>
      </h4>
      <p class="card-text small text-muted mb-1">
        {{- $organizations := partial "query/organization.html" $researcher -}}
        {{- range $i, $organization := first 1 $organizations -}}
          {{- $organization.Title -}}
        {{- end -}}
        {{- if gt (len $organizations) 1 -}}
          et al.
        {{- end -}}
      </p>
    </div>
  </div>
</div>
