{{- define "header-body" -}}
    {{- $avatar := .Resources.GetMatch "avatar" -}}
    {{- $cover := .Resources.GetMatch "cover" -}}
    <div class="header-body {{- if and $avatar $cover }} mt-n5 mt-md-n6{{- end -}}">
      <div class="row align-items-end">
          {{- if $avatar -}}
            <div class="col-auto">
                {{- .Render "page-header-avatar-top" -}}
            </div>
          {{- end -}}
        <div class="col mb-3 {{- if $avatar }} ml-n3 ml-md-n2{{- end -}}">
          <h6 class="header-pretitle">
              {{ .Parent.Title }}
          </h6>
          <h1 class="header-title">
              {{- .Title -}}
          </h1>
        </div>
      </div>
      <div class="row align-items-center ">
        <div class="col">
          <ul class="nav nav-tabs nav-overflow header-tabs" id="researcherTabs">
            <li class="nav-item">
              <a href="#overview" class="nav-link active" data-toggle="tab" role="tab" aria-controls="overview"
                 aria-selected="true">
                Overview
              </a>
            </li>
            <li class="nav-item">
              <a href="#articles" class="nav-link" data-toggle="tab" role="tab" aria-controls="articles"
                 aria-selected="false">
                Articles
              </a>
            </li>
            <li class="nav-item">
              <a href="#publications" class="nav-link" data-toggle="tab" role="tab" aria-controls="publications"
                 aria-selected="false">
                Publications
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
{{- end -}}

{{- define "main" -}}
  <div class="row mb-5">
    <div class="col-lg-4 order-lg-8">
      <div class="row sticky-top">
        <div class="col-md-6 col-lg-12">
            {{- if .Params -}}
              <div class="card">
                <div class="card-body">
                  <div class="list-group list-group-flush my-n3">
                      {{- with .Params.position -}}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <h5 class="mb-0 text-muted">
                                Position
                              </h5>
                            </div>
                            <div class="col-auto">
                              <span class="small">
                                {{- . | markdownify -}}
                              </span>
                            </div>
                          </div>
                        </div>
                      {{- end -}}
                      {{- with .Params.location -}}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <h5 class="mb-0 text-muted">
                                Location
                              </h5>
                            </div>
                            <div class="col-auto">
                              <span class="small">
                                  {{- . | markdownify -}}
                              </span>
                            </div>
                          </div>
                        </div>
                      {{- end -}}
                      {{- with .Params.website -}}
                        <div class="list-group-item">
                          <div class="row align-items-center">
                            <div class="col">
                              <h5 class="mb-0 text-muted">
                                Website
                              </h5>
                            </div>
                            <div class="col-auto">
                              <a href="{{- . -}}" class="small">
                                  {{- . | replaceRE "^https?://([^/]+).*" "$1" -}}
                              </a>
                            </div>
                          </div>
                        </div>
                      {{- end -}}
                  </div>
                </div>
              </div>
            {{- end -}}
        </div>

        <div class="col-md-6 col-lg-12">
          <div class="card">
            <div class="card-header">
              <h4 class="card-header-title">
                Organization
              </h4>
            </div>
            <div class="card-body">
              <div class="list-group list-group-flush my-n3">
                  {{- range $organization := partial "query/organization.html" . -}}
                      {{- $organization.Render "list-group-item" -}}
                  {{- else -}}
                    <div class="list-group-item">This researcher does not belong to any organization</div>
                  {{- end -}}
              </div>
            </div>
          </div>
        </div>

          {{- if or .Params.social .Params.links -}}
            <div class="col-md-6 col-lg-12">
              <div class="card">
                <div class="card-header">
                  <h4 class="card-header-title">
                    Links
                  </h4>
                </div>
                  {{- with $links := .Params.links -}}
                    <div class="card-body">
                      <div class="list-group list-group-flush my-n3">
                          {{- range $link := $links -}}
                              {{- $icon := partial "function/icon.html" $link -}}
                              <a href="{{- $link.link -}}" class="list-group-item">
                                  {{- $link.link | replaceRE "^https?://([^/]+).*" "$1" -}}
                              </a>
                          {{- end -}}
                      </div>
                    </div>
                  {{- end -}}
                  {{- with $socials := .Params.social -}}
                    <div class="card-body">
                      <div class="btn-group">
                          {{- range $social := $socials -}}
                              {{- $icon := partial "function/icon.html" $social -}}
                              <a href="{{- $social.link -}}" class="btn btn-light"><i
                                        class="{{- $icon.pack }} {{ $icon.prefix -}}-{{- $icon.icon -}}"></i></a>
                          {{- end -}}
                      </div>
                    </div>
                  {{- end -}}
              </div>
            </div>
          {{- end -}}
      </div>
    </div>
    <div class="col-lg-8 order-lg-0">
      <div class="tab-content" id="reseacherTabsContent">
        <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
            {{- .Content -}}
        </div>
        <div class="tab-pane fade" id="articles" role="tabpanel" aria-labelledby="articles">
            {{- partial "bootstrap/feature-to-come.html" -}}
        </div>
        <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications">
            {{- partial "bootstrap/feature-to-come.html" -}}
        </div>
      </div>
    </div>
  </div>

{{- end -}}
