<!doctype html>
<html lang="en">
<head>
  {{- partial "head.html" . -}}

</head>

<body class="d-flex align-items-center bg-auth border-top border-top-2 border-primary">
<div class="container">
  <div class="row align-items-center">
    <div class="col-12 col-md-6 offset-xl-2 offset-md-1 order-md-2 mb-5 mb-md-0">
      <div class="text-center">
        <img src="{{- "assets/img/illustrations/lost.svg" | absURL -}}" alt="..." title="Lost?" class="img-fluid">
      </div>
    </div>
    <div class="col-12 col-md-5 col-xl-4 order-md-1 my-5">
      <div class="text-center">
        <h6 class="text-uppercase text-muted mb-4">
          404 error
        </h6>
        <h1 class="display-4 mb-3">
          There’s no page here 😭
        </h1>
        <p class="text-muted mb-4">
          Looks like you ended up here by accident?
        </p>
        <a href="{{- "" | absURL -}}" class="btn btn-lg btn-primary">
          Return to the website
        </a>
      </div>
    </div>
  </div>
</div>
<!-- END main content -->

<!-- javascript -->
{{- partial "javascripts.html" . -}}
<!-- END javascript -->

</body>

</html>
