{{- $organization := . -}}
{{- $cover := .Resources.GetMatch "cover" -}}
{{- $avatar := .Resources.GetMatch "avatar" -}}

<div class="card card-fill">
  <a href="{{- $organization.RelPermalink -}}" class="hide stretched-link"></a>
    {{- $organization.Render "card-cover" -}}
  <div class="card-body text-center">
      {{- if $avatar -}}
        <a href="{{- $organization.RelPermalink -}}"
           class="avatar avatar-xl card-avatar {{- if $cover }} card-avatar-top {{- end }}">
          <img src="{{- partial "image-avatar-lazy.html" $avatar -}}"
               data-src="{{- partial "image-avatar-full.html" $avatar }}"
               alt="Avatar"
               title="Image showing {{ $organization.Title -}}"
               data-toggle="tooltip"
               data-placement="left"
               class="avatar-img rounded-circle border border-4 border-card lazy">
        </a>
      {{- else -}}
        <div class="avatar avatar-xl card-avatar {{- if $cover }} card-avatar-top {{- end }}">
          <span class="avatar-title rounded-circle border border-4 border-card">{{- with $organization.Params.short_title -}}{{- . -}}{{- else -}}{{- range (split $organization.Title " ") | first 2 -}}{{- . | first 1 -}}{{- end -}}{{- end -}}</span>
        </div>
      {{- end -}}
    {{- with $organization.Params.institution -}}
      <h3 class="card-subtitle mt-1 mb-2 text-gray-600">
          {{- . -}}
      </h3>
    {{- end -}}
    <h2 class="card-title mb-3">
      <a href="{{- $organization.RelPermalink -}}">
          <span class="organization-title mb-1">
              {{- $organization.Title -}}
          </span>
          {{- with $organization.Params.short_title -}}
            &nbsp;<span class="organization-abbreviation">{{- . -}}</span>
          {{- end -}}
      </a>
    </h2>
    <p class="mb-3 organization-description">
        {{- $organization.Description | plainify | emojify -}}
    </p>
  </div>
  <div class="card-footer card-footer-boxed">
    <div class="row align-items-center">
      <div class="col">
          {{- with .Params.location -}}
            <span class="small text-muted organization-location">
          <i class="fe fe-map-pin"></i>&nbsp;{{- . -}}
        </span>
          {{- end -}}
      </div>
      <div class="col-auto">
          {{- partial "avatar-group.html" (partial "query/researcher.html" .) -}}
      </div>
    </div>
  </div>
</div>
