{{- $organization := . -}}
<div class="list-group-item">
  <a href="{{- $organization.RelPermalink -}}" class="hide stretched-link"></a>
  <div class="row align-items-center">
      {{- $avatar := .Resources.GetMatch "avatar" -}}
      {{- if $avatar -}}
        <div class="col-auto">
            {{- $organization.Render "list-group-item-avatar" -}}
        </div>
      {{- end -}}
    <div class="col {{- if $avatar }} ml-n2{{- end -}}">
      <h4 class="mb-1">
        <a href="{{- $organization.RelPermalink -}}">{{- $organization.Title -}} {{- with $organization.Params.short_title }} {{ . }}{{- end -}}</a>
      </h4>
      <p class="card-text small text-muted">
          {{- $organization.Params.institution -}}
      </p>
    </div>
  </div>
</div>
