<nav class="navbar navbar-expand-lg navbar-dark" id="topnav">
  <div class="container">
    <button class="navbar-toggler mr-auto" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand mr-auto" href="{{- .Site.Home.Permalink -}}">
      <img src="{{- "assets/img/logo.svg" | absURL -}}" alt="..." class="navbar-brand-img">
    </a>
    <div class="navbar-user">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="" title="View project on GitLab"><span class="fe fe-gitlab"></span></a>
        </li>
      </ul>
    </div>
    <div class="collapse navbar-collapse mr-auto order-lg-first" id="navbar">
      <ul class="navbar-nav mr-auto">
        {{- $current := . -}}
        {{- range .Site.Menus.navbar.ByWeight -}}
          {{- $active := or ($current.IsMenuCurrent "navbar" .) ($current.HasMenuCurrent "navbar" .) -}}
          {{- $active = or $active (eq .Name $current.Title) -}}
          {{- $active = or $active (and (eq (trim (path.Dir .URL) "/") $current.Section) (ne $current.Section "")) -}}
          {{- if .HasChildren -}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle{{- with $active }} active{{ end -}}" href="#" id="topnav{{- .Identifier -}}" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{- .Pre -}}{{- .Name -}}{{- .Post -}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="topnavDashboards">
              {{- range .Children -}}
                {{- $activeChild := or ($current.IsMenuCurrent "navbar" .) ($current.HasMenuCurrent "navbar" .) -}}
                {{- $activeChild = or $activeChild (eq .Name $current.Title) -}}
                {{- $activeChild = or $activeChild (and (eq (trim (path.Dir .URL) "/") $current.Section) (ne $current.Section "")) -}}
                <li>
                  <a class="dropdown-item{{- with $activeChild }} active{{ end -}}" href="{{- .URL | relLangURL -}}">
                    {{- .Pre -}}{{- .Name -}}{{- .Post -}}
                  </a>
                </li>
              {{- end -}}
            </ul>
          </li>
          {{- else -}}
            <li class="nav-item">
              <a class="nav-link {{- with $active }} active{{- end -}}" href="{{- .URL  | relLangURL -}}" title="{{- .Name -}}">{{- .Pre -}}{{- .Name -}}{{- .Post -}}</a>
            </li>
          {{- end -}}
        {{- end -}}
      </ul>
    </div>
  </div>
</nav>
