{{- define "header-body" -}}
<div class="header">
  <div class="header-body">
    <h6 class="header-pretitle">
      {{ .Parent.Title }}
    </h6>
    <h1 class="header-title">
      {{- .Title -}}
    </h1>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted mb-2">
              Translation
            </h6>
            <span class="h2 mb-0">{{- .Params.Translation | default 0 -}}</span>
          </div>
          <div class="col-auto">
            <span class="h2 fe fe-maximize-2 text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted mb-2">
              Rotation
            </h6>
            <span class="h2 mb-0">{{- .Params.Rotation | default 0 -}}</span>
          </div>
          <div class="col-auto">
            <span class="h2 fe fe-rotate-ccw text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-body">
        <div class="row align-items-center">
          <div class="col">
            <h6 class="text-uppercase text-muted mb-2">
              Spatiality
            </h6>
            <span class="h2 mb-0">{{- if eq .Params.translation 3 -}}spatial
                {{- else if eq .Params.translation 2 -}}planar
                {{- else if eq .Params.translation 1 -}}linear
                {{- end -}}</span>
          </div>
          <div class="col-auto">
            <span class="h2 fe fe-zap text-muted mb-0"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="mb-3">
        {{- .Content -}}
    </div>

    {{- with $robots := partial "query/robot.html" . -}}
      {{- partial "cards/with-search.html" . -}}
    {{- else -}}
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        {{- partial "bootstrap/not-found-card.html" "robots" -}}
      </div>
    </div>

    {{- end -}}
  </div>
</div>

{{- end -}}
