{{- $file := . -}}
<li class="list-group-item">
  <div class="row align-items-center">
    <div class="col-auto">
      <a href="#!" class="avatar avatar-lg">
        <span class="avatar-title rounded bg-white text-secondary">
          <span class="fe {{- with $file.Params.icon  }} fe-{{ . -}}{{- else }} fe-file{{- end -}}"></span>
        </span>
      </a>
    </div>
    <div class="col ml-n2">
      <h4 class="mb-1 name">
        <a href="#!">{{- $file.Title | replaceRE "^files/([^/]+).*" "$1" | markdownify -}}</a>
      </h4>
      <!--                        <p class="card-text small text-muted mb-1">-->
      <!--                          1.1mb PPTX-->
      <!--                        </p>-->
      <!--                        <p class="card-text small text-muted">-->
      <!--                          <time datetime="2018-01-03">Jan 3, 2018</time>-->
      <!--                        </p>-->
    </div>
    <div class="col-auto">
      <a href="{{- $file.RelPermalink -}}" class="btn btn-sm btn-white d-none d-md-inline-block">
        Download
      </a>
    </div>
  </div>
</li>
