{{- $type := "light" -}}
{{- $heading := "" -}}
{{- $close := false -}}
{{- $classes := "" -}}

{{- if .IsNamedParams -}}
  {{- $type = .Get "type" | default $type -}}
  {{- $close = .Get "close" | default $close -}}
  {{- $heading = .Get "heading" | default $heading -}}
  {{- $classes = .Get "class" | default $classes -}}
{{- else -}}
  {{- $type = .Get 0 | default $type -}}
  {{- $close = .Get 1 | default $close -}}
  {{- $classes = .Get 2 | default $heading -}}
  {{- $heading = .Get 3 | default $classes -}}
{{- end -}}

<div class="alert alert-{{- $type -}}{{- if $close }} alert-dismissible{{- end -}} {{- with $classes }} {{ . -}}{{- end -}}" role="alert">
  {{- with $heading -}}
    <h4 class="alert-heading">{{- . | markdownify -}}</h4>
  {{- end -}}
  {{- .Inner | markdownify -}}
  {{- if $close -}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{- end -}}
</div>