{{- define "header-body" -}}
<div class="header">
  <div class="header-body">
    <h6 class="header-pretitle">
    </h6>
    <h1 class="header-title">
      {{- .Title -}}
    </h1>
  </div>
</div>
{{- end -}}

{{- define "main" -}}

<div class="mb-3">
  {{- .Content -}}
</div>

{{- if .Pages -}}

{{- partial "cards/with-search.html" .Pages.ByDate -}}

{{- else -}}

<div class="row">
  <div class="col-lg-10 offset-lg-1">
    {{- partial "bootstrap/feature-to-come.html" -}}
  </div>
</div>

{{- end -}}

{{- end -}}
